
.login-block{
    background: #0063b2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, rgba(0, 98, 177, 0.5), #0063b2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgba(0, 98, 177, 0.5), #0063b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
min-height: 100vh;
padding : 50px 0;
}
.banner-sec{background:url(../images/bg-02.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 10px 10px 10px 10px; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.forgot-sec, .login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#0063b2;}
.login-sec .copy-text a{color:#E36262;}
.forgot-sec h2,.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0063b2;}
.forgot-sec h2:after,.login-sec h2:after{content:" "; width:100px; height:5px; background:#0063b2; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login:hover, .btn-login{background: #0063b2; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
 .banner-text h2{color:#fff; font-weight:600;}
 .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.banner-sec:before {
	content: "";
	height: 93.5%;
	box-shadow: -7px 15px 5px 16px #fff;
	position: absolute;
}
.login-btn {
	width: 100%;
}
.forgottenpass {
	display: flex;
	 justify-content: space-between;
}
.fpass:hover,
.fpass {
	display: block;
	margin-top: 20px;
	color: #0063b2;
}
.forgottenpass .btn {
	width: 45%;
}
@media screen and (max-width: 768px) {
	.banner-sec {
		display: none;
	}
}